<config>
	
	<opos-website>http://online-presence.net/opos</opos-website>
	
	<proxy-settings>
		<host-url></host-url>
		<port></port>
		<username></username>
		<password></password>
	</proxy-settings>
	
	<rdf-repository>
		<namespace>http://online-presence.org/opos/triplestore#</namespace>
	
		<!-- Settings for contacting MySQL for SDB -->
		<sdb-config>
			<db-type>MySQL</db-type>
			<db-jdbcURL>jdbc:mysql://localhost/sdb</db-jdbcURL>
			<db-username>sdb</db-username>
			<db-password>password</db-password>
			<format>false</format>
		</sdb-config>
	</rdf-repository>
	
	<twitter-mediator>
		<!-- For testing -->
		<api-key>erJrG7n9IBWcxyhul2D0g</api-key>
		<api-secret>rfiXJUXPqMyZtAkFhs88zYaEK7EcE3mcOVRmWO68</api-secret>
		
		<!-- For real use 
		<api-key>Lh9kHnnbN95Oo287N8hnA</api-key>
		<api-secret>CzwiEuhWiezFfKeTfmHr0V1pgVMEkz09WCQnUVGUZsE</api-secret>
		-->
		
		<check-timeout>60000</check-timeout>
	</twitter-mediator>
	
	<!-- Settings for OPOS app registered on Facebook on Nikola Milikic's account -->
	<facebook-mediator>
		<!-- For testing -->
		<api-secret>18bae6b9bdc18111c8ab6dac516d3ba8</api-secret>
		<application-id>174920289252003</application-id>
		
		<!-- For real use 
		<api-secret>33d23fc324c4e98b708cb77665fee87c</api-secret>
		<application-id>22915582764</application-id>
		-->
		<redirect-url>http://localhost:9091/OPOS/apps/facebookApp</redirect-url>
		<permissions>
			<permission>user_location</permission>
			<permission>user_online_presence</permission>
			<permission>user_status</permission>
			<permission>read_stream</permission>
			<permission>email</permission>
			<permission>offline_access</permission>
		</permissions>
		<check-timeout>60000</check-timeout>
	</facebook-mediator>
	
	<!-- Settings for OPOS app registered on Foursquare on Nikola Milikic's account -->
	<foursquare-mediator>
		<api-key>UM42RGJXRDFSL55R5IOZ3JRWKNRL1EC2DLEX2GKUQ50WXJF2</api-key>
		<api-secret>RMZX4NAR4LQEVNK2T0YKSWUQ30ZXVDAIHMPTC0FAZDSZJEIA</api-secret>
		<check-timeout>60000</check-timeout>
	</foursquare-mediator>
	
</config>