<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- ================ Persistence Manager ========================-->
	<bean id="net.onlinepresence.opos.core.persistance.PersistenceManager"
			class="net.onlinepresence.opos.core.hibernate.HibernatePersistenceManager"
			scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Hibernate SessionFactory for the datasource -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
			
		<!-- Must reference all O/R mapping files. -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:net/onlinepresence/opos/maps</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<ref bean="hibernateProperties" />
		</property>
	</bean>
	<!-- ...................... Hibernate Session Interceptor ......................... -->
	<bean id="hibernateSessionInterceptor"
		class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="hibernateInterceptor" 
		class="org.springframework.orm.hibernate3.HibernateInterceptor">
         <property name="sessionFactory">
           <ref bean="sessionFactory"/>
         </property>
    </bean>
    
    
	<!-- ========================= End of PERSISTENCE DEFINITIONS ========================= -->
	<tx:annotation-driven
		transaction-manager="org.springframework.transaction.PlatformTransactionManager" />
	<!-- =============== Transaction manager ===================-->
	<bean
		id="org.springframework.transaction.PlatformTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="nestedTransactionAllowed">
			<value>true</value>
		</property>
	</bean>

	

</beans>