<config>
	
	<!-- Settings for contacting MySQL for SDB -->
	<sdb-config>
		<db-type>MySQL</db-type>
		<db-jdbcURL>jdbc:mysql://localhost/sdb</db-jdbcURL>
		<db-username>sdb</db-username>
		<db-password>password</db-password>
		<format>false</format>
	</sdb-config>
	
	<twitter-mediator>
		<api-key>Lh9kHnnbN95Oo287N8hnA</api-key>
		<api-secret>CzwiEuhWiezFfKeTfmHr0V1pgVMEkz09WCQnUVGUZsE</api-secret>
		<check-timeout>20000</check-timeout>
	</twitter-mediator>
	
	<!-- Settings for OPOS app registered on Facebook on Nikola Milikic's account -->
	<facebook-mediator>
		<api-key>7aac9fa3e7e2765862c2f225c3914642</api-key>
		<api-secret>33d23fc324c4e98b708cb77665fee87c</api-secret>
		<application-id>22915582764</application-id>
		<redirect-url>http://localhost:8080/OPOS/apps/facebookApp</redirect-url>
		<permissions>
			<permission>user_location</permission>
			<permission>user_online_presence</permission>
			<permission>user_status</permission>
			<permission>read_stream</permission>
			<permission>email</permission>
			<permission>offline_access</permission>
		</permissions>
		<check-timeout>20000</check-timeout>
	</facebook-mediator>
	
</config>