#topnav {
	margin-top: 60px;
	font-size: 11px;
	line-height: 33px;
	text-align: right;
}

#topnav a.signin {
	width: 77px;
	height: 33px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #363636;
	text-shadow: 1px 1px 1px #ffffff;
	background: url("../images/btn-login.png") no-repeat 0 0; *
	padding: 4px 12px 6px;
}

#topnav a.signin:hover {
	color: #777777;
}

#topnav a.signin,#topnav a.signin:hover { *
	background-position: 0 3px !important;
}

a.signin {
	position: relative;
	margin-left: 3px;
}

a.signin span {
	padding-right: 33px;
}

#topnav a.menu-open {
	background: url("../images/btn-login.png") no-repeat 0 0 !important;
	outline: none;
}

#small_signup {
	display: inline;
	float: none;
	line-height: 23px;
	margin: 25px 0 0;
	width: 170px;
}

a.signin.menu-open span {
	/*background-image:url("http://s.twimg.com/a/1249943174/images/toggle_up_dark.png");*/
	color: #789;
}

#signin_menu {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	display: none;
	background: #728290 url("../images/login-form-bg.png") repeat-x;
	position: absolute;
	width: 210px;
	z-index: 100;
	border: 1px transparent;
	text-align: left;
	padding: 20px 10px 10px 10px;
	margin-left: 368px;
	margin-top: 89px;
	color: #ffffff;
	font-size: 11px;
}

/*
#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}*/
#signin_menu label {
	font-weight: normal;
}

#signin_menu p.remember {
	margin: 0;
	padding: 0;
}

#signin_menu p.forgot,#signin_menu p.complete {
	clear: both;
	margin: 5px 0;
	padding: 0;
}

#signin_submit {
	width: 78px;
	height: 29px;
	background: url("../images/btn-login-signin.png") no-repeat 0 0;
	font-size: 11px;
	margin: 5px 5px 0 0;
	text-indent: -8000%;
	border: none;
}

#signin_submit::-moz-focus-inner {
	padding: 0;
	border: 0;
}

#signin_submit:hover,#signin_submit:focus {
	background-position: 0 bottom;
	cursor: pointer;
}

/* signout */
#topnav a.signout {
	width: 77px;
	height: 33px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #363636;
	text-shadow: 1px 1px 1px #ffffff;
	background: url("../images/btn-logout.png") no-repeat 0 0; *
	padding: 4px 12px 6px;
}

#topnav a.signout:hover {
	color: #777777;
}

#topnav a.signout,#topnav a.signout:hover { *
	background-position: 0 3px !important;
}

a.signout {
	position: relative;
	margin-left: 3px;
}

a.signout span {
	padding-right: 22px;
}