body{
	background:url(images/bg.gif) repeat-x top #fff;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:0px auto auto auto;
	color:#514c48;
}
a{
	text-decoration:underline;
	color:#D86200;
}
p{
	text-align:justify;
	line-height:15px;
	padding:5px 0 5px 0;
	font-size:11px;
	margin:0px;
}
span{
	or:#FF9900;
}
p.clear{
	:both;
}
img.left_img{
	float:left;
	padding:5px 12px 0 0;
}
img.left_img_border{
	float:left;
	margin:5px 12px 0 0;
	border:3px #b1cee0 solid;
}
h1{
	font-size:18px;
	color:#514c48;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px 0 5px 0;
	margin:0px;
}
#main_container{
	width:677px;
	height:auto;
	margin:auto;
	padding:50px 0 0 0;
	position:relative;
}
.top_illustration{
	position:absolute;
	top:50px;
	left:-130px;
}
#header{
	width:677px;
	height:62px;
	margin:auto;
}
.logo{
	font-family:"Comic Sans MS", cursive;
	color:#EEE;
	text-align:center;
	padding:17px 0 0 0;
	margin:0 0 0 0;
}

/*---------------- menu tab----------------------*/
#menu_tab{
	width:677px;
	height:52px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	background:url(images/menu_bg.gif) no-repeat center;
	text-align:center;
}

ul.menu {
	list-style-type:none; display:block; width:410px; 
	 margin: auto; padding:0px; background:none;
}

ul.menu li {
	display:inline;
	font-size:13px;
	font-weight:bold;
	line-height:52px;
}

ul.menu li.divider {
	display:block;
	float:left;
	width:1px;
	height:52px;
	padding:0px ;
	margin:0px;
	background:url(images/divider.gif) no-repeat center;
}

a.nav:link, a.nav:visited {
	display:block; float:left; padding:0px; margin:0;width: auto; margin:0px 14px 0px 14px; text-align:center;
	text-decoration:none; background:none; color:#534848;
}

a.nav_selected:link, a.nav_selected:visited {
	display:block; float:left; padding:0px; margin:0;width: auto;margin:0px 14px 0px 14px;text-align:center;
	text-decoration:none; color: #FF6600;
}

a.nav:hover {
	color: #FF6600; text-decoration:none;
}


/*----------------main_content----------------*/
#content{
	width:auto;
	clear:both;
	background-color:#FFFFFF;
	height:auto;
}

#main_content{
	width:630px;
	float:left;
	height:auto;
	padding:10px 0 0 20px;
}

/*----footer---------*/
#footer{
	width:auto;
	clear:both;
	padding:15px 0 10px 0;
	text-align:center;
	color:#999999;
}

#text{
	font-size:14px;
	color:#555753;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:1.88889;
}

/*----form-submit-button----*/
#convert_submit_button{
	width: 270px;
	height: 52px;
	background:url(images/allow_me_access.gif);
	border: 0;
}